body,h2,h3,ul{
    margin: 0;
    padding: 0;
}

ol,ul{
    list-style: none;
}
header nav{
    padding: 10px;
}
a{
    text-decoration: none;
}

main {
    background-color: #34312f;
    color: white;
}

header a i{
    color: yellow;
    font-size: 50px;
    padding: 0.3em;
}

.acerca-imagen img{
    width: 200px;
    height: 200px;

}
.acerca-imagen{
    text-align: center;
}

.seccion-2{
    text-align: center;
}

footer{
    background-color:rgb(153, 77, 0);
    width: 100%;
}

footer ul{
    display: flex;
    justify-content: space-between;
    margin: 0 3em 0 3em;
}

footer div nav ul a{
    color: white;
    font-size: larger;
}

footer .fa-solid{
    color: yellow;
    position: fixed;
    bottom: 22px;
    right: 39px;
    font-size: 30px;
}

footer h3{
    color: white;
}

#footer {
    padding: 1em;
}

header{
    display: flex;
    background-color: rgb(153, 77, 0);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav ul{
    display:flex;
    gap: 1em;
}

header nav ul li a{
    color: white;
    font-size: larger;
}

.seccion-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 2em;
}

.seccion-2 img{
    width: 100%;
}
.seccion-3 h3{
    padding-top: 20px;
    padding-bottom:10px;
}

.container-t{
    display: flex;
    justify-content: center;
}

.Trabajos{
    display: flex;
    justify-content: space-around;
    width: auto;
    background-color: #34312f;
}

.trabajo{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trabajo p{
    margin: 0;
}

.trabajo img{
    display: block;
    height: auto;
    margin:auto;
    max-width: 100%;
    border-radius: 20px;
}

@media(max-width:768px){
    .Trabajos {
        flex-wrap: wrap;
    }
}

@media (max-width: 480px) {
    header nav ul {
        gap: 0.5em;
    }
    .Trabajos .trabajo {
        width: 100%;
    }
    header nav ul li a {
        font-size: smaller;
    }
    header ul{
        flex-direction: column;
        align-items: start;
    }
    footer nav ul li a{
        font-size: smaller;
    }
    footer ul {
        flex-direction: column;
        align-items: center; 
        margin: 0;
    }
    footer ul li {
        margin-bottom: 0.5em;
    }
}